@import "master.css";

:root {
    --font-color: #f8f8f8;
    --back-color: rgba(52, 52, 52, 0.6);
}

html {
    background-image: url(../img/dark/tlo.jpg);
}
section {
    color: var(--font-color);
    border-image-source: url(../img/dark/border.png);
    background-color: var(--back-color);
}
li:before {
    color: transparent;  
    text-shadow: 0 0 var(--font-color);
}
a {
    color: #6899fd
}
.tooltip .tooltiptext {
    background-color: var(--back-color);
    color: var(--font-color);
}
.tooltip .tooltiptext::after {
    border-color: transparent var(--back-color) transparent transparent;
}
